.page {
  color: var(--primary-text-color);
  background-color: var(--white-color);

  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.logo {
  color: var(--logo-dark-color);

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1.2;
}

.logo-accent {
  color: var(--accent-color);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}


.list {
  list-style: none;
}

.site-nav .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.address .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.address-text {
  color: var(--primary-text-color);
}

.hero-title {
  color: var(--white-color);
  background-color: var(--background-dark-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

.section-title {
  color: var(--primary-text-color);
}

.section-text {
  color: var(--title-text-color);
}

.section-advantages-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
}

.section-advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.section-product-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.section-product-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.section-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.section-team-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.section-team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}

.section-clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* footer */

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.socials-link:hover,
.socials-link:focus {
  color: var(--accent-color);
}

.button {
  color: var(--primary-text-color);
  background-color: var(--white-color);

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.button-item .button:hover,
.button-item .button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* portfolio */

.section-item .link {
  color: var(--primary-text-color);
}

.section-item .link:hover,
.section-item .link:focus {
  color: var(--accent-color);
}

.section-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.section-item-caption {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}